# This is a sample .env file for use in local development.
# Copy this file as .env in the root of the project
# and update the environment variables to match your
# desired config

# The HTTP port to run the application on
PORT = 8080 

# Fork your app and get your own Yelp and Spoonacular API keys 
YELPKEY = yelp_key 
SPOONACULARKEY = spoon_key

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://root:password@localhost:3306/database"

# JWT variables
JWT_SECRET=develop
JWT_EXPIRE=30m